// +-------------------------------------------------------------------+
// |  Basics - stuff needed for every project
// +-------------------------------------------------------------------+
// Include padding and border in the size of elements
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// +-------------------------------------------------------------------+
// |  Further resets
// |  N.B. Normalize is loaded separately in dev-mode.
// +-------------------------------------------------------------------+
// If I decide to user lists I will want to customize anyway
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// +-------------------------------------------------------------------+
// |  Minimal clearfix
// |  For modern browsers:
// |  1. The space content is one way to avoid an Opera bug
// |     when the contenteditable attribute is included anywhere
// |     else in the document. Otherwise it causes space to
// |     appear at the top and bottom of elements that are
// |     clearfixed.
// | 
// |  2. The use of `table` rather than `block` is only necessary
// |     if using `:before` to contain the top-margins of child
// |     elements.
// +-------------------------------------------------------------------+
.cf:before,
.cf:after {
  content: " ";    // 1
  display: table;  // 2
}

.cf:after {
  clear: both;
}

// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.
.cf {
  *zoom: 1;
}

// +-------------------------------------------------------------------+
// |  Some basic styles
// +-------------------------------------------------------------------+
// Almost always needed for web apps
html,
body {
  @extend %fill-up;
}
