// +-------------------------------------------------------------------+
// |  Base Typography
// +-------------------------------------------------------------------+
// Lato is a great all-around font. Simple as that.
$sans-serif: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// +-------------------------------------------------------------------+
// |  Sizes
// +-------------------------------------------------------------------+
$base-font-size: 62.5%;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);
$base-padding: 15px;

// +-------------------------------------------------------------------+
// |  Colors
// +-------------------------------------------------------------------+
$light-gray: #eff1f5;
$medium-gray: #e6e9f0;
$dark-gray: #dfe1e8;

//  Font Colors
$base-font-color: #333;
$base-accent-color: #477DCA;

// Background
$background-color: #fcfeff;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15%);

// Border color
$base-border-color: $dark-gray;

// Flash Colors
$error-color: #ff0000;
$notice-color: #0080ff;
$success-color: #66ff66;
