// +-------------------------------------------------------------------+
// |  The Button
// +-------------------------------------------------------------------+

%btn,
.btn {
  // Required
  @include display(flex);
  @include align-items(center);
  @include user-select(none);
  cursor: pointer;

  // Reset
  background: none;
  outline: none;

  // Default
  border: 1px solid darken($flat-gray-1, 10%);
  border-bottom-width: 2px;
  border-radius: 3px;

  &:hover {
    box-shadow: 0 0 3px darken($flat-gray-1, 0%);
  }

  &:active {
    border-bottom-width: 1px;
    margin-bottom: 1px;
    box-shadow: none;
  }
} 

.btn__body {
  // Cut long button titles short with ellipsis: '...'.
  @include dotdotdot;
  width: 100%;
  text-align: center;
  padding: 2px $base-padding;
  // Shouldn't be nessesary but seems to be anyways (Chrome)
  cursor: pointer;
}

.btn__segment {
  // Required
  // Center the icon inside the segment
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include align-self(stretch);

  // Default
  min-width: 40px;
  background-color: rgba(#000, .02);
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.btn__icon {
  font-size: 30px;
  margin-left: 15px;
}

.btn--focus,
%btn--focus {
  @extend %btn;

  box-shadow: 0 0 3px darken($flat-gray-1, 0%);
}

.btn--active,
.btn.active {
  @extend %btn--focus;

  border-bottom-width: 1px;
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}

.btn--disabled,
.btn[disabled] {
  @extend %btn;

  background: rgba(#000, .05);
  cursor: not-allowed;
  color: rgba(#000, 0.5);

  &:hover,
  &:active {
    background: rgba(#000, .05);
    box-shadow: none;
  }
}

.btn--primary,
%btn--primary {
  @extend %btn;

  padding-top: 6px;
  padding-bottom: 6px;

  background: $flat-blue-1;
  color: rgba(#fff, .9);

  &:hover {
    background: lighten($flat-blue-1, 10%);
  }
}

.btn--danger {
  @extend %btn--primary;

  background: $flat-red-1;

  &:hover {
    background: lighten($flat-red-1, 10%);
  }  
}

.btn--pill {
  @extend %btn;

  border-radius: 50px;
}

// Social buttons
.btn--facebook {
  @extend %btn;

  background-color: #2b3f87;
  color: $flat-gray-1;
  font-weight: bold;

  &:hover {
    background-color: #324ba3;
  }
}

%btn--social {
  @extend %btn;

  color: $flat-gray-1;
  font-weight: bold;
}

.btn--facebook {
  @extend %btn--social;
  $primary-color: #3b5998;
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.btn--twitter {
  @extend %btn--social;
  $primary-color: #55acee;  // Twitter primary color

  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.btn--google {
  @extend %btn--social;
  background-color: #c43128;

  &:hover {
    background-color: #d9362d;
  }
}

.btn--linkedin {
  @extend %btn--social;
  background-color: #1a6ea7;

  &:hover {
    background-color: #1a83cc;
  }
}

.btn--youtube {
  @extend %btn--social;
  background-color: #b50015;

  &:hover {
    background-color: #c60019;
  }
}

// +-------------------------------------------------------------------+
// |  Button group
// +-------------------------------------------------------------------+
.btn-group {
  @include display(flex);
  @include justify-content(center);

  > .btn {
    border-radius: 0;

    // xxx-of-type is compatible with Handlebars metamorphs
    // simple first/last-child will break down when using e.g. Ember.js
    &:not(:first-of-type) {
      border-left: none;
      border-radius: 0;
    }

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }
}
