// Known limitations
// Ellipsis option doesn't work with flex-box.

.column__wrapper {
  @include display(flex);
  @include justify-content(space-between);
}

.column,
%column {
  @include dotdotdot;
  // Keep all columns the same width
  @include flex-basis(100%);
  position: relative;
  border-right: 1px solid $dark-gray;

  // Because of Handlebars metamorphs...
  &:last-of-type {
    border-right: 0;
  }
}

.column--mini {
  @extend %column;

  @include flex-basis(70px);
  min-width: 70px;
}

.column--small {
  @extend %column;

  @include flex-basis(100px);
  min-width: 100px;
}

.column--medium {
  @extend %column;

  @include flex-basis(250px);
  min-width: 250px;
}

.column--wide {
  @extend %column;

  @include flex-basis(400px);
  min-width: 400px;
}
