$comment-box-color: #fff;

.comment-box__wrapper {
  @include display(flex);
  width: 100%;
  margin-bottom: 25px;

  > div:nth-child(2) {
    margin-left: 25px;
  }
}

.comment-box {
  position: relative;
  z-index: 10;
  background-color: $comment-box-color;
  border: 1px solid #d8e0e8;
  @include flex-basis(100%);
  border-bottom-width: 2px;
}

%comment-box__overlay {
  background-color: #f9f9f9;
}

%comment-box__header,
.comment-box__header {
  @extend %comment-box__overlay;
  border-bottom: 1px solid #d8e0e8;
  @include display(flex);
  @include justify-content(space-between);
}

.comment-box__footer {
  @extend %comment-box__overlay;
  border-top: 1px solid #d8e0e8;
  border-radius: 0 0 3px 3px;
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
}

%comment-box__body,
.comment-box__body {
  cursor: auto;
}

.comment-box__body--input {
  @extend %comment-box__body;
  width: 100%;
  border: 0;
}

.comment-box__submit {
  padding: 4px 10px;
  border-left: 1px solid #d8e0e8;
  background-color: #f6f6f6;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    box-shadow: 0 1px 2px #e0e0e0;
  }

  &:active {
    box-shadow: none;
    background-color: #f9f9f9;
  }
}

.comment-box__header__action {
  cursor: pointer;
}
