// Complex form
.form--complex {
  label {
    display: block;
    font-size: 13px;
    color: $flat-gray-2;
  }
}

h5 {
  margin-bottom: 15px;
}

.form--stacked {
  > div {
    width: 100%;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  input, textarea {
    width: 100%;
  }

  label {
    display: block;
    font-size: 13px;
    color: $flat-gray-2;
  }
  textarea {
    min-height: 100px;
  }
}

.form__input-wrapper {
  @include display(flex);
  @include justify-content(center);
}

.form__text-input,
%form__text-input {
  border: 1px solid darken($flat-gray-1, 10%);
  border-bottom-width: 2px;
  border-radius: 3px;
  outline: none;

  &:focus {
    background: lighten($flat-gray-1, 5%);
  }
}

.text-input,
%text-input {
  @extend %form__text-input;
}

.text-input--error {
  @extend %text-input;

  background-color: #feebea;

  &:focus {
    background-color: #fee0de;
  }
}
