// +-------------------------------------------------------------------+
// |  Panel Headers & Footers
// +-------------------------------------------------------------------+
$overlay-approximate-height: 50px;

.header-footer__wrapper {
  @include display(flex);
  @include flex-direction(column);
  height: 100%;
}

.header-footer__wrapper--overlay {
  position: relative;
  height: 100%;
}

// Scrollable section
.header-footer__body {
  // Required
  overflow-y: auto;
  height: 100%;
}

.header,
.footer {
  padding: 5px;  // >0 padding is required
  background-color: #f6f6f6;
}

%header,
.header {
  // Defaults
  border-bottom: 1px solid rgba(#000, .15);
}

%footer,
.footer {
  // Defaults
  border-top: 1px solid rgba(#000, .15);
}

%overlay {
  @extend %light-overlay;

  // Required
  position: absolute;
  width: 100%;
  z-index: 9999;  // Make sure it floats above everything else

  // Defaults
  background-color: rgba(#fff, .95);
}

.header--overlay {
  @extend %overlay;
  @extend %header;

  // Defaults
  box-shadow: 0 2px 4px -4px rgba(#000, .4);

  ~ .header-footer__body {
    // Add space before content to clear the overlay
    padding-top: $overlay-approximate-height;
  }
}

.footer--overlay {
  @extend %overlay;
  @extend %footer;

  // Required
  bottom: 0;

  // Defaults
  box-shadow: 0 -2px 4px -4px rgba(#000, .4);

  ~ .header-footer__body {
    // Add space after content to clear the overlay
    padding-bottom: $overlay-approximate-height + 10px;
  }
}
