// +-------------------------------------------------------------------+
// |  List Component
// +-------------------------------------------------------------------+

.list--horizontal {
  @include display(flex);
  overflow-x: auto;

  .list__item {
    @include flex-shrink(0);
  }

  &.list-closed {
    height: 0;
  }
}

%list__item,
.list__item {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);

  border-bottom: 1px solid $dark-gray;

  &:last-child {
    border-bottom: 0;
  }
}

.list__item--fixed-width {
  @extend %list__item;

  @include dotdotdot;
}

.list__divider {
  font-size: 0.85rem;
  padding: $base-padding*0.1 $base-padding $base-padding*0.2;
  color: #797979;
  background-color: #ebeaec;
  border-bottom: 1px solid darken(#e9e8e9, 5%);
}
