// CREDIT: http://dribbble.com/shots/598146-RemixJobs-new-Activity-tab-UI-design/attachments/47750

$tab-border-width: 2px;
$tab-border-color: #eaeaef;
$tab-border-highlight-color: $flat-blue-1;

.tab__wrapper {
  margin: 0 auto;
}

%tab__bar {
  @include display(flex);
}

%tab,
.tab {
  @extend %bar--center;
  @include flex-basis(100%);
  cursor: pointer;

  // DEMO
  background-color: #fff;

  &.active {
    border-right: $tab-border-width solid $tab-border-color;
    border-left: $tab-border-width solid $tab-border-color;
  }
}

.tab__bar--top {
  @extend %tab__bar;

  > .tab {
    // DEMO
    border-bottom: $tab-border-width solid $tab-border-color;

    &:hover {
      border-bottom-color: darken($tab-border-color, 10%);
    }

    &.active {
      border-bottom: 0;
      border-top: $tab-border-width solid $tab-border-highlight-color;
    }
  }
}

.tab__bar--bottom {
  @extend %tab__bar;

  > .tab {
    // DEMO
    border-top: $tab-border-width solid $tab-border-color;

    &:hover {
      border-top-color: darken($tab-border-color, 10%);
    }

    &.active {
      border-top: 0;
      border-bottom: $tab-border-width solid $tab-border-highlight-color;
    }
  }
}
