@import 'normalize';

$primary-color: #009688;

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  color: #444444;
  font-size: 100%;
  line-height: 150%;
}

h1, h2 {
  font-weight: normal;
  color: $primary-color;
}

h3 {
  margin: 1em 0 -.5em;
}

section {
  margin-top: 2.5em;
}

header,
.content {
  max-width: 960px;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 90%;

  th {
    background: $primary-color;
    color: white;
    text-align: left;
    font-weight: normal;
  }

  td, th {
    padding: .3em .4em;
    border: 1px solid $primary-color;
  }
}

.table__header--vertical {
  max-width: 33%;
}

code {
  font: 90% Source Code Pro, Consolas, Menlo, Courier, monospace;
  background-color: #cfd8dc;
  padding: 0.15em 0.3em;
  background-color: rgba(#000, .07);
  border-radius: 3px;
}

.explanation {
  font-size: 90%;
}

// PDF restrictions
@page {
  size: A4;
  margin: 1cm;
}
